<%= javascript_include_tag "jquery.validate" %>
<script>
  function validanum(e) {
      tecla = (document.all) ? e.keyCode : e.which;
      if (tecla==8) return true;
      patron =/\d/;
      te = String.fromCharCode(tecla);
      return patron.test(te);
  }

    function validatxt(e){
       key = e.keyCode || e.which;
       tecla = String.fromCharCode(key).toLowerCase();
       letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
       especiales = [8,37,39,46];

       tecla_especial = false
       for(var i in especiales){
            if(key == especiales[i]){
                tecla_especial = true;
                break;
            }
        }

        if(letras.indexOf(tecla)==-1 && !tecla_especial){
            return false;
        }
    }

  $(document).ready(function(){
    $("#btn_enviar").click(function(){
      $("#registro").submit();
    });

    $("#registro").validate({
      rules: {
        nombre: {
          required: true
        },
        rut: {
          required: true
        },
        telefono: {
          required: true,
        },
        correo: {
          required: true,
          email: true
        },
        red: {
          required: true
        },
        mail_ok: {
          required: true
        }
      }
    });

  });
</script>
<div class="content">
    <div id="header">
        <div class="main_nav">
            <span class="main_logo"></span>
        </div>
    </div>
    <p id="error" style="color:red;font-size:15px;"><%= flash[:error] %></p>
    <div class="content form">
      <%= form_tag(fb_app_lan_cargo_comenzar_path,:id=>:registro, :method => "post") do  %>
        <%= text_field_tag(:nombre, @nombre, :onkeypress => "return validatxt(event)") %>
        <%= text_field_tag(:rut, @rut) %>
        <%= text_field_tag(:correo, @correo) %>
        <%= text_field_tag(:telefono, @telefono, :onkeypress => "return validanum(event)") %>
        <%= check_box_tag(:read)  %>
        <%= check_box_tag(:mail_ok)  %>
      <% end %>
      <a href="#" id="btn_enviar" class="btn_despega">Despega</a>
    </div>
    <div id="footer">
      <a href="javascript:void(0);" target="_blank" class="link_natgeo">NatGeoCh</a>
      <a href="javascript:void(0);" target="_blank" class="tw_cargas">#CargasImposibles</a>
      <a href="javascript:void(0);" target="_blank" class="tw_lovi">#LoViEnNatGeo</a>
      <a href="http://www.lancargo.com/es/" target="_blank"><span class="logo_cargo"></span></a>
    </div>
</div>