<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
$(function(){
    $(".elefante, .ballena, .rinoceronte, .tigre").draggable({ revert: true });
    $(".choice").droppable({
         accept: ".elefante, .ballena, .rinoceronte, .tigre",
         drop: function(event, ui ) {
                 $(".choice").removeClass("elefante");
                 $(".choice").removeClass("ballena");
                 $(".choice").removeClass("rinoceronte");
                 $(".choice").removeClass("tigre");
                 $(this).addClass( ui.draggable.attr('class') );

             var verifica = ui.draggable.attr('rel');
             $("#respuesta").val( verifica );
             clearInterval(countdown);
             if(verifica=="1:c"){
               $(".box_alert").addClass("right");
               $("#shadowlight").fadeIn(function(){
                $("#registro").delay(3000).submit();
               }); 

             }else{
               $(".box_alert").addClass("wrong");
               $("#shadowlight").fadeIn(function(){
                $("#registro").delay(3000).submit();
               }); 
             }
             //$("#registro").delay(3000).submit(); 
        }
    });
    $(".close").click(function(){
      $("#registro").submit();
    });
    $("#btn_enviar").click(function(){
        if( $("#respuesta").val() != "" ){
            clearInterval(countdown);
            $("#registro").submit();
        }else{
            $(".alerta_vacio").fadeIn(function(){
                $(this).delay(3000).fadeOut();
            }); 
        }
    });

     var countdown = setInterval(function() {
        var timeCounter = $("span[class=tiempo_numero]").html();
        var updateTime = eval(timeCounter)- eval(1);
        $("span[class=tiempo_numero]").html(updateTime);

        if(updateTime == 0){
           if($("#respuesta").val() != ""){
             $("span[class=tiempo_numero]").html("--");
             
           }else{
             $("span[class=tiempo_numero]").html("--");
           }
           $(".box_alert").addClass("times_up");
           $("#shadowlight").fadeIn(function(){
            $("#registro").delay(3000).submit();
           });
           
        }
    }, 1000);
})
</script>
<div class="content">
    <div id="header">
        <div class="main_nav">
            <span class="main_logo"></span>
            <ul>
                <li><a href="<%= fb_app_lan_cargo_path %>" class="img_quiz">Quiz Imposible</a></li>
                <li><a href="<%= fb_app_lan_cargo_premios_path %>" target="_blank" class="img_premios">Premios</a></li>
                <li><a href="/documents/fb_app_lan_cargo.pdf" target="_blank" class="img_bases">Bases</a></li>
            </ul>
        </div>
        <div class="game_nav">
            <div class="pager">1/5</div>
            <div class="question"><%=image_tag("fb_app_lan_cargo/queston_1.png")%></div>
            <div class="tiempo">Tiempo<span class="tiempo_numero">20</span></div>
        </div>
    </div>
    <div class="content">
        <div class="q1 pregunta">
          <%=image_tag("fb_app_lan_cargo/correcto_pop.png", :style => "display:none")%>
          <%=image_tag("fb_app_lan_cargo/incorrecto_pop.png", :style => "display:none")%>
          <%=image_tag("fb_app_lan_cargo/times_up.png", :style => "display:none")%>
        
          <div class="answers">
            <%=image_tag("fb_app_lan_cargo/elefante.png", :class => "elefante", :alt => "Question", :rel => "1:i")%>
            <%=image_tag("fb_app_lan_cargo/ballena.png", :class => "ballena", :alt => "Question", :rel => "1:i")%>
            <%=image_tag("fb_app_lan_cargo/rinoceronte.png", :class => "rinoceronte", :alt => "Question", :rel => "1:c")%>
            <%=image_tag("fb_app_lan_cargo/tigre.png", :class => "tigre", :alt => "Question", :rel => "1:i")%>
          </div> <!-- / .questions -->
            <%= form_tag(fb_app_lan_cargo_respuestas_path,:id=>:registro, :method => "post") do  %>
                <%= hidden_field_tag 'respuesta' %>
                <%= hidden_field_tag 'n_preg', 1 %>
            <% end %>
          <div class="choices">
            <div id="choice-1" class="choice"></div> <!-- / .choice -->
          </div>        
        </div>
        <div id="shadowlight">
            <span class="shadow"></span>
            <div class="box_alert">
                <span class="close"></span>
            </div>
        </div>
    </div>
    <div id="footer">
    </div>
</div>