<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
$(function(){
    $(".elefante, .camello, .puma, .suricate").draggable({ revert: true });
    $(".choice-1").droppable({ 
             accept: ".elefante, .camello, .puma, .suricate",
             drop: function(event, ui ) {
                 $(this).droppable('disable')
                 $("#rsp_1").val( ui.draggable.attr('rel') );
                 $(this).addClass( ui.draggable.attr('class') );
                 $(ui.draggable).hide();
                 comprueba_resp();
                 }
    });
    $(".choice-2").droppable({ 
             accept: ".elefante, .camello, .puma, .suricate",
             drop: function(event, ui ) {
                 $(this).droppable('disable')
                 $("#rsp_2").val( ui.draggable.attr('rel') );
                 $(this).addClass( ui.draggable.attr('class') );
                 $(ui.draggable).hide();
                 comprueba_resp();
                 }
    });
    $(".choice-3").droppable({ 
             accept: ".elefante, .camello, .puma, .suricate",
             drop: function(event, ui ) {
                 $(this).droppable('disable')
                 $("#rsp_3").val( ui.draggable.attr('rel') );
                 $(this).addClass( ui.draggable.attr('class') );
                 $(ui.draggable).hide();
                 comprueba_resp();
                 }
    }); 
    $(".choice-4").droppable({ 
             accept: ".elefante, .camello, .puma, .suricate",
             drop: function(event, ui ) {
                 $(this).droppable('disable')
                 $("#rsp_4").val( ui.draggable.attr('rel') );
                 $(this).addClass( ui.draggable.attr('class') );
                 $(ui.draggable).hide();
                 comprueba_resp();
                 }
    }); 
    
    $("#btn_enviar").click(function(){
        if( $("#respuesta").val() != "" ){
            clearInterval(countdown);
            $("#registro").submit();
        }else{
            $(".alerta_vacio").fadeIn(function(){
                $(this).delay(3000).fadeOut();
            }); 
        }
    });

     var countdown = setInterval(function() {
        var timeCounter = $("span[class=tiempo_numero]").html();
        var updateTime = eval(timeCounter)- eval(1);
        $("span[class=tiempo_numero]").html(updateTime);

        if(updateTime == 0){
           if($("#respuesta").val() != ""){
             $("span[class=tiempo_numero]").html("--");
             
           }else{
             $("span[class=tiempo_numero]").html("--");
           }
           $(".box_alert").addClass("times_up");
           $("#shadowlight").fadeIn(function(){
            $("#registro").delay(3000).submit();
           });
           
        }
        
    }, 1000);
});
function comprueba_resp(){
    if ( $("#rsp_1").val() != "" && $("#rsp_2").val() != "" && $("#rsp_3").val() != "" && $("#rsp_4").val() != ""){
        if ( $("#rsp_1").val() == "suricate" && $("#rsp_2").val() == "puma" && $("#rsp_3").val() == "camello" && $("#rsp_4").val() == "elefante" ){
              $("#respuesta").val("4:c");
              $(".box_alert").addClass("right");
              $("#shadowlight").fadeIn(function(){
               $("#registro").delay(3000).submit();
              });
        }else{
          $("#respuesta").val("4:i");
          $(".box_alert").addClass("wrong");
          $("#shadowlight").fadeIn(function(){
           $("#registro").delay(3000).submit();
          }); 
        }
    }else{
    }
}
</script>
<div class="content">
    <div id="header">
        <div class="main_nav">
            <span class="main_logo"></span>
            <ul>
                <li><a href="<%= fb_app_lan_cargo_path %>" class="img_quiz">Quiz Imposible</a></li>
                <li><a href="<%= fb_app_lan_cargo_premios_path %>" target="_blank" class="img_premios">Premios</a></li>
                <li><a href="/documents/fb_app_lan_cargo.pdf" target="_blank" class="img_bases">Bases</a></li>
            </ul>
        </div>
        <div class="game_nav">
            <div class="pager">4/5</div>
            <div class="question"><%=image_tag("fb_app_lan_cargo/question_6.png")%></div>
            <div class="tiempo">Tiempo<span class="tiempo_numero">20</span></div>
        </div>
    </div>
    
    <div class="content">
        <div class="q4 pregunta">
        
          <div class="answers">
            <%=image_tag("fb_app_lan_cargo/elefante_q4.png", :class => "elefante answer", :alt => "Question", :rel => "elefante")%>
            <%=image_tag("fb_app_lan_cargo/camello.png", :class => "camello answer", :alt => "Question", :rel => "camello")%>
            <%=image_tag("fb_app_lan_cargo/puma.png", :class => "puma answer", :alt => "Question", :rel => "puma")%>
            <%=image_tag("fb_app_lan_cargo/suricate.png", :class => "suricate answer", :alt => "Question", :rel => "suricate")%>
          </div> <!-- / .questions -->
          
          <div class="choices">
            <div id="choice-1" class="choice choice-1"></div>
            <div id="choice-2" class="choice choice-2"></div>
            <div id="choice-3" class="choice choice-3"></div>
            <div id="choice-4" class="choice choice-4"></div>
            <%= hidden_field_tag 'rsp_1' %>
            <%= hidden_field_tag 'rsp_2' %>
            <%= hidden_field_tag 'rsp_3' %>
            <%= hidden_field_tag 'rsp_4' %>
            <%= form_tag(fb_app_lan_cargo_respuestas_path,:id=>:registro, :method => "post") do  %>
                <%= hidden_field_tag 'respuesta' %>
                <%= hidden_field_tag 'n_preg', 4 %>
            <% end %>
          </div>        
        </div>
        <div id="shadowlight">
            <span class="shadow"></span>
            <div class="box_alert">
                <span class="close"></span>
            </div>
        </div>
    </div>
    
    <div id="footer">
    </div>
</div>