<script>
$(function (){
    $(".answers span").click( function(){
        $(".answers span").removeClass("ON");
        $(this).addClass("ON");
        $("#respuesta").val( $(this).attr("rel") );
    });

    $("#btn_enviar").click(function(){
        if( $("#respuesta").val() != "" ){
            $("#registro").submit();
        }else{
            alert("faltan campos");
        }
    });
});
</script>
<div class="content">
    <div id="header">
        <div class="main_nav">
            <span class="main_logo"></span>
            <ul>
                <li><a href="#" class="img_quiz">Quiz Imposible</a></li>
                <li><a href="#" class="img_premios">Premios</a></li>
                <li><a href="#" class="img_bases">Bases</a></li>
            </ul>
        </div>
        <div class="game_nav">
            <div class="pager">6/7</div>
            <div class="question"><%=image_tag("fb_app_lan_cargo/question_6.png")%></div>
            <div class="tiempo">Tiempo<span class="tiempo_numero">12</span></div>
        </div>
    </div>
    
    <div class="content">
        <div class="q6 pregunta">
        
        <div class="answers">
            <span class="opt1" rel="6:c"></span>
            <span class="opt2" rel="6:i"></span>
            <span class="opt3" rel="6:i"></span>
            <span class="opt4" rel="6:i"></span>
            <%= form_tag(fb_app_lan_cargo_respuestas_path,:id=>:registro, :method => "post") do  %>
                <%= hidden_field_tag 'respuesta' %>
                <%= hidden_field_tag 'n_preg', 6 %>
            <% end %>
        </div>

        <%= link_to "", "#", :id => 'btn_enviar' , :class => 'next_question' %>
        </div>

    </div>
    
    <div id="footer">
    <a href="#" target="_blank" class="link_natgeo">NatGeoCh</a>
    <a href="#" target="_blank" class="tw_cargas">#CargasImposibles</a>
    <a href="#" target="_blank" class="tw_lovi">#LoViEnNatGeo</a>
    <span class="logo_cargo"></span>
    </div>
</div>