<%= render :partial => "layouts/facebook_javascript_sdk_share" %>
<div class="content">
    <div id="header">
        <div class="main_nav">
            <span class="main_logo"></span>
            <ul>
                <li><a href="<%= fb_app_lan_cargo_path %>" class="img_quiz">Quiz Imposible</a></li>
                <li><a href="<%= fb_app_lan_cargo_premios_path %>" target="_blank" class="img_premios">Premios</a></li>
                <li><a href="/documents/fb_app_lan_cargo.pdf" target="_blank" class="img_bases">Bases</a></li>
            </ul>
        </div>
    </div>
    
    <div class="content final">
      <div class="nota">5/5</div>
        <div class="lower_nav">
          <%= link_to "", "#", :class => 'btn_compartir sharefb' %>
          <%= link_to "", "#", :class => 'btn_invitar_amigos invitar' %>
      </div>
    
    </div>
    
    <div id="footer">
        <a href="javascript:void(0);" target="_blank" class="link_natgeo">NatGeoCh</a>
        <a href="javascript:void(0);" target="_blank" class="tw_cargas">#CargasImposibles</a>
        <a href="javascript:void(0);" target="_blank" class="tw_lovi">#LoViEnNatGeo</a>
        <a href="http://www.lancargo.com/es/" target="_blank"><span class="logo_cargo"></span></a>
    </div>
</div>