<%= javascript_include_tag "jquery.1.7" %>
<%= javascript_include_tag "jquery.dropkick" %>
<script>
$(document).ready(function(){    
  $('.custom_theme').dropkick({
    theme: 'black',
    change: function (value, label) {
      $(this).dropkick('theme', value);
    }
  });
  $('.dk_toggle').click(function(){
    $('.dk_options').slideToggle('fast');
  });
  $('.dk_options_inner li a').click(function(){
    $('.dk_options').hide();		  
  });
});
</script>
<%= javascript_include_tag "jquery.validate" %>
<%= render :partial => "layouts/validator2" %>
<script>
  $(document).ready(function(){
    
    $(".participar").click(function(){
      $("#enviar").click();
    });
    
    $("#enviar").click(function(){
      $("#form_registro").submit();
    });

    $("#form_registro").validate({
      rules: {
        nombre:    { required: true },
        telefono:  { required: true },
        codigotel: { required: true },
        correo:    { required: true,email: true },
        region:    { required: true }
      },
      invalidHandler: function(form, validator) {
        $(".error").attr("placeholder","Falta información");
        $("#codigotel").attr("placeholder","");
        var region  = $(".region").val();
        if(region==""){
          $(".dk_container").addClass("dk_container_error");
        }else{
          $(".dk_container").removeClass("dk_container_error");
        }
      }
    });

  });
</script>
<div id="wrapper" class="form">
  <div id="top_bar"><img src="/assets/fb_app_sony_codes/top_bar.jpg" alt="Playstation - Vive en estado play" /></div>
  <div class="form_content">
    <h2>Completa el formulario para adivinar el Sony Code del día </h2>
    <h3>y podrás ganar una PlayStation 3 al instante</h3>
    <%= form_tag(fb_app_sony_codes_new_code_path,:id=>:form_registro, :method => "post") do  %>
      <div class="fila">
        <label>*Nombre/Apellido</label>
        <%= text_field_tag(:nombre, @nombre, :class => 'nombre', :onkeypress => "return validatxt(event)") %>
      </div>
      <div class="fila">
        <label>*Mail</label>
        <%= text_field_tag(:correo, @correo, :class => 'mail') %>
      </div>
      <div class="fila">
        <label>*Teléfono</label>
        <%= text_field_tag(:codigotel,'', :class => 'input-corto', :onkeypress => "return validanum(event)", :maxlength => "3", :placeholder => "09") %>
        <%= text_field_tag(:telefono, '', :class => 'input-medio', :onkeypress => "return validanum(event)", :maxlength => "10", :placeholder => "00000000") %>
      </div>
      <div class="fila">
        <label>*Región</label>
        <%= select_tag :region,options_for_select(@regiones),:class => "custom_theme region",:prompt => "Selecciona tu región",:onChange => 'check(this.options[this.selectedIndex].value);'%>
      </div>
      <input type="submit" id="enviar" style="display:none">
    <% end %>
    <a href="#" class="participar">Participar</a>
    <span class="form_pie">*todos los campos son requeridos</span>
  </div>
</div>
