<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    
    function borrar(){
      $(".pad label").each(function() {
        $(this).removeAttr("class");
        $(this).addClass("buttonps3 inactive");
      });
    }
    $(".close_amigos").click(function(){
      $(".alert_amigos").fadeOut();
    });
    
    $(".control a").click(function(){
      var valboton = $(this).attr("rel");
      var classboton = $(this).attr("class");
      $(".pad .inactive:first").each(function() {
        $(this).removeClass("inactive");
        $(this).addClass("active"+" "+classboton);
        var valcod = $(".codigo").val();
        $(".codigo").val(valcod+valboton);
        var vallength = $(".codigo").val().length;
        if(vallength==5){
          var intento = $(".intento").attr("rel",valcodigo-1);
          var valcodigo = $(".codigo").val();
          $.ajax({url: 'check_respuesta',type: 'post',data: "code="+valcodigo,
           success: function( resp ) {
             $(".codigo").val("");
             borrar();
             if(resp=="win"){
               location.href = '/fb_app_sony_codes/share_play';
             } else if(resp=="nointentos"){
               $(".alert_amigos").fadeIn(1200);
               $(".intentos_alert").html("0"); 
             } else if(resp>0 && resp<=3){
               $(".intento").attr("rel");
               $(".intentos").addClass("intento"+resp);
               $(".alert").fadeIn(1200);
               $(".alert").fadeOut(3000);
             }
           }
         });
        }
      });
    });
  
    $(".sharefb").click(function(){
      FB.ui({
          method: 'feed',
          name: '¡Participa en Sony Code!',
          link: '<%= @fanpage[:link] %>/app_<%= @app.fb_app_idnumber %>',
          picture: 'http://wolly.herokuapp.com/assets/<%= controller_path %>/75x75.jpg',
          caption: '<%= @app.share_caption %>',
          description: '<%= @app.share_description %>'
        },
        function(response) {
        
        });
      return false;
    });
    
    
    $(".invitar_amigos").click(function(){
      FB.ui({ method: 'apprequests',
            message: 'asdasdas',
            filters: ['app_non_users'],
            title: 'Invitación',
            exclude_ids: [1155649748],
      max_recipients: '3'
      },requestCallback);
    });
    
    function requestCallback(response) {
        $("#invitacion").val(response.to);
        // agregar vidas via get, solo puede sumar 3 vidas, no puede tener mas de 3 vidas
        // desactivar boton enviar
    }
  });
</script>
<div id="wrapper" class="game">
	<div id="top_bar"><img src="/assets/fb_app_sony_codes/top_bar.jpg" alt="Playstation - Vive en estado play" /></div>
    <div class="game_content">
    	<h1>Code</h1>
        <h2>Ingresa el código de seguridad para desactivar<br />los láser y gana una PlayStation 3 por día. </h2>
        <p id="notice"><%= flash[:error] %></p>
        <h3>¡tienes sólo 3 oportunidades!</h3>
        <div class="contador">10</div>
        <div class="pad">
	      <div class="intentos intento3" rel="3"></div>
          <label class="buttonps3 inactive" rel="1"></label>
          <label class="buttonps3 inactive" rel="2"></label>
          <label class="buttonps3 inactive" rel="3"></label>
          <label class="buttonps3 inactive" rel="4"></label>
          <label class="buttonps3 inactive" rel="5"></label>
          <%= hidden_field_tag(:code,'', :class => 'codigo',:readonly => "readonly") %>
        </div>
        <div class="control">
          <%= link_to "Triangulo", "#" , :class => "triangulo", :rel => "A" %>
          <%= link_to "Circulo", "#" , :class => "circulo", :rel => "O" %>
          <%= link_to "Equis", "#" , :class => "equis", :rel => "X" %>
          <%= link_to "Cuadrado", "#" , :class => "cuadrado", :rel => "C" %>
        </div>
	</div>
  <div id="footer">
    <%= link_to "Ver bases legales", "/documents/fb_app_sony_codes.pdf" , :class => "ver_bases", :target => "_blank" %>
    <%= link_to "Comparte", "#" , :class => "facebook sharefb" %>
  </div>  
  <div class="alert" style="display:none">
  	<h2>¡Codigo Incorrecto!</h2>
    <div class="intentos_alert">3</div>
  </div>
  <div class="alert_amigos" style="display:none">
    <h2>¡Ya haz agotado tus intentos!</h2>
    <p>Invita a tus amigos para conseguir 3 intentos más 
y seguir participando. Recuerda sólo podrás invitar a 
3 amigos cada vez.</p>
		<a href="#" class="invitar_amigos invitar">Invitar amigos</a>
    <span class="close_amigos">close</span>
  </div>
  <div class="alert_loader"></div>
</div>