<% content_for :body_classes, 'home' %>
<script type="text/javascript" charset="utf-8">
  $(window).load(function(){
    $("#next").click(function(){
      FB.login(function(response){
        if (response.authResponse){
          location.href = '<%= fb_app_sernatur_capture_register_path %>';
        }
      },{scope:'<%= @scope %>'});
    });
  });
</script>
<div id="header">
    <ul class="menu">
    <li><a href="<%= fb_app_sernatur_capture_path %>">Home</a></li>
    <li><a href="<%= fb_app_sernatur_capture_instructions_path %>">Instructions</a></li>
     <li><a href="<%= fb_app_sernatur_capture_prize_path %>">Prize</a></li>
    <li><a href="/documents/fb_app_sernatur_capture.pdf">Terms</a></li>
    </ul>
</div>

<div id="areyousa">
	<input id="demo_box_1" class="css-checkbox" type="checkbox" />
	<label for="demo_box_1" name="demo_lbl_1" class="css-label">ARE YOU AN U.S RESIDENT?</label>               
	<a href="#" id="next"></a>
</div>