<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>   
<script>
$(document).ready( function (){
	$("#btn_enviar").click(function(){
		if ( $('#rsp_auto1').val() == "" || $('#rsp_auto2').val() == "" ||  $('#rsp_auto3').val() == "" ||  $('#rsp_auto4').val() == "" ||  $('#invitacion').val() == "" ) {
			alert("Debes invitar al menos un amigo");
		}else{
			$("#registro").submit();
		}
	});

	$('.instructions').click( function (){
		$('.instrucciones').fadeIn('fast');
		});
	$('.cerrar').click( function (){
		$('.instrucciones').fadeOut('fast');
		});
		
	$('.boton_est').click( function(){
		$('.boton_est').removeClass('boton_ON');
		$(this).toggleClass('boton_ON');
		});

	$(".top_1, .top_2, .top_3, .top_4, .top_5").hover(
	  function () {
		$(this).children('.car_desc').fadeIn("fast");
	  },
	  function () {
		$(this).children('.car_desc').fadeOut("fast");
	  }
	);
	
	$('.limpiar').click( function() {
		$('.auto1, .auto2, .auto3, .auto4').removeClass('car_accent');
		$('.auto1, .auto2, .auto3, .auto4').removeClass('car_elantra');
		$('.auto1, .auto2, .auto3, .auto4').removeClass('car_veloster');
		$('.auto1, .auto2, .auto3, .auto4').removeClass('car_i30');
		$('.auto1, .auto2, .auto3, .auto4').removeClass('car_elantrac');
		$('.car_accent, .car_elantra, .car_veloster, .car_i30 , .car_elantrac').show();
		$('.car_accent, .car_elantra, .car_veloster, .car_i30 , .car_elantrac').next('img').addClass('car_desc');
		$('.facebook_friend').hide();
		$('#rsp_auto1').val("");
		$('#rsp_auto2').val("");
		$('#rsp_auto3').val("");
		$('#rsp_auto4').val("");
		});

    $(".facebook_friend").click(function(){
      $("#box_invitado").val($(this).attr("rel"));

      FB.ui({ method: 'apprequests',
            message: 'Invitar',
            filters: ['app_non_users'],
            title: 'Invitación',
      max_recipients: '1'
      },requestCallback);
    });
});

  function requestCallback(response) {
      $("#invitacion").val(response.to);
      $("."+$("#box_invitado").val()+" .facebook_friend").html('<img src="https://graph.facebook.com/'+response.to+'/picture?width=39&height=39" width="39" height="39" />');
  }
</script>
<script>
$(function(){
	$(".car_accent, .car_elantra, .car_veloster, .car_i30 , .car_elantrac").draggable({ revert: true });
	$(".auto1").droppable({ 
		     accept: ".car_accent, .car_elantra, .car_veloster, .car_i30 , .car_elantrac",
 		     drop: function(event, ui ) {
				 $(this).addClass( ui.draggable.attr('class') );
				 $(this).children('div').show();
				 $(ui.draggable).next('img').removeClass('car_desc');
				 $(ui.draggable).hide();
				 $("#rsp_auto1").val(ui.draggable.attr('rel'));
				 }
	});
	$(".auto2").droppable({ 
		     accept: ".car_accent, .car_elantra, .car_veloster, .car_i30 , .car_elantrac",
 		     drop: function(event, ui ) {
				 $(this).addClass( ui.draggable.attr('class') );
				 $(this).children('div').show();
				 $(ui.draggable).next('img').removeClass('car_desc');
				 $(ui.draggable).hide();
				 $("#rsp_auto2").val(ui.draggable.attr('rel'));
				 }
	});
	$(".auto3").droppable({ 
		     accept: ".car_accent, .car_elantra, .car_veloster, .car_i30 , .car_elantrac",
 		     drop: function(event, ui ) {
				 $(this).addClass( ui.draggable.attr('class') );
				 $(this).children('div').show();
				 $(ui.draggable).next('img').removeClass('car_desc');
				 $(ui.draggable).hide();
				 $("#rsp_auto3").val(ui.draggable.attr('rel'));
				 }
	});	
	$(".auto4").droppable({ 
		     accept: ".car_accent, .car_elantra, .car_veloster, .car_i30 , .car_elantrac",
 		     drop: function(event, ui ) {
				 $(this).addClass( ui.draggable.attr('class') );
				 $(this).children('div').show();
				 $(ui.draggable).next('img').removeClass('car_desc');
				 $(ui.draggable).hide();
				 $("#rsp_auto4").val(ui.draggable.attr('rel'));
				 }
	});

})
</script>
<div class="background seleccion_autos <%= @clase %>">
  <div class="autos_top">
    <div class="top_1 top_accent"><img src="../assets/fb_app_hyundai_mundial/a_accent.png" rel="Accent" alt="Accent" class="car_accent" /><img src="../assets/fb_app_hyundai_mundial/accent.png" alt="Descripción" class="car_desc" /></div>
    <div class="top_2 top_elantra"><img src="../assets/fb_app_hyundai_mundial/a_elantra.png" rel="Elantra" alt="Elantra" class="car_elantra" /><img src="../assets/fb_app_hyundai_mundial/elantra.png" alt="Descripción" class="car_desc" /></div>
    <div class="top_3 top_veloster"><img src="../assets/fb_app_hyundai_mundial/a_veloster.png" rel="Veloster" alt="Veloster" class="car_veloster" /><img src="../assets/fb_app_hyundai_mundial/veloster.png" alt="Descripción" class="car_desc" /></div>
    <div class="top_4 top_i30"><img src="../assets/fb_app_hyundai_mundial/a_i30.png" alt="I30" rel="i30" class="car_i30" /><img src="../assets/fb_app_hyundai_mundial/i30.png" alt="Descripción" class="car_desc" /></div>
    <div class="top_5 top_elantrac" style="margin-right:0px;"><img src="../assets/fb_app_hyundai_mundial/a_elantrac.png" rel="Elantra Coupé" alt="Elantra Coupé" class="car_elantrac" /><img src="../assets/fb_app_hyundai_mundial/elantra_coupe.png" alt="Descripción" class="car_desc" /></div>        	
  </div>
  <div class="posiciones">
    <div class="box auto1"><div class="facebook_friend" rel="auto1"></div></div>
    <div class="box auto2"><div class="facebook_friend" rel="auto2"></div></div>
    <div class="box auto3"><div class="facebook_friend" rel="auto3"></div></div>
    <div class="box auto4"><div class="facebook_friend" rel="auto4"></div></div>            
  </div>
  <a href="#" id="btn_enviar" class="continuar">Continuar</a>
  <a href="#" class="limpiar">limpiar formació=n</a>
  <a href="#" class="instructions">Instruccion=es</a>
</div>
<div class="instrucciones">
  <span class="img" style="background-image:url(../assets/fb_app_hyundai_mundial/instrucciones_2.png); background-repeat:no-repeat;"></span>
  <span class="cerrar">X</span>
</div>
<%= hidden_field_tag 'box_invitado' %>
<%= hidden_field_tag 'invitacion' %>
<%= form_tag(fb_app_hyundai_mundial_share_path,:id=>:registro, :method => "post") do  %>
  <%= hidden_field_tag 'formación', @clase %>
  <%= hidden_field_tag 'estrategia_usada',"ataque" %>
  <%= hidden_field_tag 'rsp_auto1' %>
  <%= hidden_field_tag 'rsp_auto2' %>
  <%= hidden_field_tag 'rsp_auto3' %>
  <%= hidden_field_tag 'rsp_auto4' %>
<% end %>