<%= javascript_include_tag "jquery-ui.min" %>
<script>
$(document).ready( function (){
  $("#btn_enviar").click(function(){
    if ( $('#rsp_auto1').val() == "" || $('#rsp_auto2').val() == "" ||  $('#rsp_auto3').val() == "" ||  $('#rsp_auto4').val() == "" ||  $('#invitacion').val() == "") {
      alert("Debes invitar al menos un amigo");
    }else{
      $("#registro").submit();
    }
  });

  $('.instructions').click( function (){
    $('.instrucciones').fadeIn('fast');
  });

  $('.cerrar').click( function (){
    $('.instrucciones').fadeOut('fast');
    });
    
  $('.boton_est').click( function(){
    $('.boton_est').removeClass('boton_ON');
    $(this).toggleClass('boton_ON');
    });

  $(".top_1, .top_2, .top_3, .top_4, .top_5").hover(
    function () {
    $(this).children('.car_desc').fadeIn("fast");
    },
    function () {
    $(this).children('.car_desc').fadeOut("fast");
    }
  );
  
  $('.limpiar').click( function() {
    $('.auto1, .auto2, .auto3, .auto4').removeClass('car_azera');
    $('.auto1, .auto2, .auto3, .auto4').removeClass('car_genesis');
    $('.auto1, .auto2, .auto3, .auto4').removeClass('car_genesis_c');
    $('.auto1, .auto2, .auto3, .auto4').removeClass('car_santafe');
    $('.auto1, .auto2, .auto3, .auto4').removeClass('car_tucson');
    $('.car_azera, .car_genesis, .car_genesis_c, .car_santafe, .car_tucson').show();
    $('.car_azera, .car_genesis, .car_genesis_c, .car_santafe, .car_tucson').next('img').addClass('car_desc');
    $('.facebook_friend').hide();
    $('.auto1, .auto2, .auto3, .auto4').droppable('enable');
    $('#rsp_auto1').val("");
    $('#rsp_auto2').val("");
    $('#rsp_auto3').val("");
    $('#rsp_auto4').val("");
    });

    $(".facebook_friend").click(function(){
      $("#box_invitado").val($(this).attr("rel"));

      FB.ui({ method: 'apprequests',
            message: 'Invita a tus amigos a sacar el DT que llevan dentro, acertar a la alineación Hyundai y ganar un Hyundai Eon.',
            filters: ['app_non_users'],
            title: 'Invitación',
      max_recipients: '1'
      },requestCallback);
    });
});
  function requestCallback(response) {
      $("#invitacion").val(response.to);
      $("."+$("#box_invitado").val()+" .facebook_friend").html('<img src="https://graph.facebook.com/'+response.to+'/picture?width=39&height=39" width="39" height="39" />');
  }
</script>
<script>
$(function(){
  $(".car_azera, .car_genesis, .car_genesis_c, .car_santafe, .car_tucson").draggable({ revert: true });
  $(".auto1").droppable({ 
         accept: ".car_azera, .car_genesis, .car_genesis_c, .car_santafe, .car_tucson",
         drop: function(event, ui ) {
         $(this).addClass( ui.draggable.attr('class') );
         $(this).children('div').show();
         $(this).droppable('disable');
         $(ui.draggable).next('img').removeClass('car_desc');
         $(ui.draggable).hide();
         $("#rsp_auto1").val(ui.draggable.attr('rel'));
         }
  });
  $(".auto2").droppable({ 
         accept: ".car_azera, .car_genesis, .car_genesis_c, .car_santafe, .car_tucson",
         drop: function(event, ui ) {
         $(this).addClass( ui.draggable.attr('class') );
         $(this).children('div').show();
         $(this).droppable('disable');
         $(ui.draggable).next('img').removeClass('car_desc');
         $(ui.draggable).hide();
         $("#rsp_auto2").val(ui.draggable.attr('rel'));
         }
  });
  $(".auto3").droppable({ 
         accept: ".car_azera, .car_genesis, .car_genesis_c, .car_santafe, .car_tucson",
         drop: function(event, ui ) {
         $(this).addClass( ui.draggable.attr('class') );
         $(this).children('div').show();
         $(this).droppable('disable');
         $(ui.draggable).next('img').removeClass('car_desc');
         $(ui.draggable).hide();
         $("#rsp_auto3").val(ui.draggable.attr('rel'));
         }
  }); 
  $(".auto4").droppable({ 
         accept: ".car_azera, .car_genesis, .car_genesis_c, .car_santafe, .car_tucson",
         drop: function(event, ui ) {
         $(this).addClass( ui.draggable.attr('class') );
         $(this).children('div').show();
         $(this).droppable('disable');
         $(ui.draggable).next('img').removeClass('car_desc');
         $(ui.draggable).hide();
         $("#rsp_auto4").val(ui.draggable.attr('rel'));
         }
  });
  })
</script>
<div class="background seleccion_autos <%= @clase %>">
  <div class="autos_top">
    <div class="top_1 top_azera"><img src="../assets/fb_app_hyundai_mundial/d_azera.png" rel="Azera" alt="Azera" class="car_azera" /><img src="../assets/fb_app_hyundai_mundial/azera.png" alt="Descripción" class="car_desc" /></div>
    <div class="top_2 top_genesis"><img src="../assets/fb_app_hyundai_mundial/d_genesis.png" rel="Genesis" alt="Genesis" class="car_genesis" /><img src="../assets/fb_app_hyundai_mundial/genesis.png" alt="Descripción" class="car_desc" /></div>
    <div class="top_3 top_genesis_c"><img src="../assets/fb_app_hyundai_mundial/d_genesis_c.png" rel="Genesis Coupe" alt="Genesis Coupe" class="car_genesis_c" /><img src="../assets/fb_app_hyundai_mundial/genesis_coupe.png" alt="Descripción" class="car_desc" /></div>
    <div class="top_4 top_santafe"><img src="../assets/fb_app_hyundai_mundial/d_santafe.png" rel="Santa Fe" alt="Santa Fe" class="car_santafe" /><img src="../assets/fb_app_hyundai_mundial/santa_fe.png" alt="Descripción" class="car_desc" /></div>
    <div class="top_5 top_tucson" style="margin-right:0px;"><img src="../assets/fb_app_hyundai_mundial/d_tucson.png" rel="Tucson" alt="Tucson" class="car_tucson" /><img src="../assets/fb_app_hyundai_mundial/tucson.png" alt="Descripción" class="car_desc" /></div>
  </div>
        
        
  <div class="posiciones">
    <div class="box auto1"><div class="facebook_friend" rel="auto1"></div></div>
    <div class="box auto2"><div class="facebook_friend" rel="auto2"></div></div>
    <div class="box auto3"><div class="facebook_friend" rel="auto3"></div></div>
    <div class="box auto4"><div class="facebook_friend" rel="auto4"></div></div>
  </div>

  <a href="#" id="btn_enviar" class="continuar">Continuar</a>
  <a href="#" class="limpiar">limpiar formación</a>
  <a href="#" class="instructions">Instrucciones</a>
</div>
<div class="instrucciones" <%= @esconder %>>
  <span class="img" style="background-image:url(../assets/fb_app_hyundai_mundial/instrucciones_2.gif); background-repeat:no-repeat;"></span>
  <span class="cerrar">X</span>
</div>
<%= hidden_field_tag 'box_invitado' %>
<%= hidden_field_tag 'invitacion' %>
<%= form_tag(fb_app_hyundai_mundial_share_path,:id=>:registro, :method => "post") do  %>
  <%= hidden_field_tag 'formación', @clase %>
  <%= hidden_field_tag 'estrategia_usada',"defensa" %>
  <%= hidden_field_tag 'rsp_auto1' %>
  <%= hidden_field_tag 'rsp_auto2' %>
  <%= hidden_field_tag 'rsp_auto3' %>
  <%= hidden_field_tag 'rsp_auto4' %>
<% end %>