<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $("#nav_superior li a").removeClass("active_nav");
    $(".sharefb").click(function(){
      FB.ui({
          method: 'feed',
          name: 'Brilliance Euforia',
          link: 'http://www.facebook.com/Brilliancechile/app_423085667810855',
          picture: 'http://wolly.herokuapp.com/assets/<%= controller_path %>/75x75.jpg',
          caption: 'Estoy seguro que gano el fin de semana en Enjoy gracias a Brilliance Euphoria ¡Juega en el tragamonedas!',
          description: '¡Juega en el tragamonedas de Brilliance Euphoria y gana una estadia en Enjoy para dos personas!'
        },
        function(response) {
        
        });
      return false;
    });
    $(".invitar").click(function(){
      FB.ui({ method: 'apprequests',
            message: '¡Juega en el tragamonedas de Brilliance Euphoria y gana una estadia en Enjoy para dos personas!',
            filters: ['app_non_users'],
            title: 'Invitación',
      max_recipients: '50'
      });
    });
  });
</script>
<div class="gracias">
  <div class="fin">
    <div class="content_fin">
      <h1 class="felicitaciones">¡FELICIDADES!</h1>
      <p>Ya estás participando por<br><strong>un fin de semana en enjoy</strong><br>gracias a brilliance euphoria</p>
      <p>recuerda que puedes<br>seguir participando.<br><strong>el jugador que tenga<br>la mayor cantidad de créditos<br>se llevará el prémio.</strong></p>
      <ul>
        <li><%= link_to "", fb_app_brilliance_euforia_ranking_path,:id =>"ranking",:class=>"btn_ranking" %></li>
        <li><%= link_to "", fb_app_brilliance_euforia_path,:id =>"ranking",:class=>"btn_otravez" %></li>
      </ul>
    </div> 
  </div>
  <%=image_tag("fb_app_brilliance_euforia/auto.png",:class=>"auto")%>
  <%=image_tag("fb_app_brilliance_euforia/carta.png",:class=>"carta")%>
</div>