<% content_for :body_classes, 'registro' %>
<div class="content">
    <center>
      <p id="error"><%= flash[:error] %></p>
      <p id="notice"><%= flash[:notice] %></p>
      <%= form_tag(fb_app_snickers_redhot_share_path,:id=>:registro, :method => "post") do  %>
        <div class="group"><%= text_field_tag(:nombre, @nombre, :class => 'campos') %></div>
        <div class="group"><%= text_field_tag(:apellido,nil, :class => 'campos') %></div>
        <div class="group"><%= text_field_tag(:rut, @rut, :class => 'campos') %></div>
        <div class="group"><%= text_field_tag(:correo, @email, :class => 'campos') %></div>
        <div class="group"><%= text_field_tag(:telefono, @telefono, :class => 'campos') %></div>
      <% end %>
        <a class="button_position_2" href="#">
            <%=image_tag("fb_app_snickers_redhot/selecciona_amigos.png", alt: "Selecciona Amigos")%>
        </a>
        <a class="button_position_3" href="#">
            <%=image_tag("fb_app_snickers_redhot/enviar.png", alt: "Enviar")%>
        </a>
    </center>
</div>