<% content_for :body_classes, 'exito' %>
<%= render :partial => "layouts/facebook_javascript_sdk_share" %>
<div class='content'>
  <center>
    <div class="photo photo_me">
      <span class="frame"></span>
        <img src="https://graph.facebook.com/<%= @uid %>/picture?width=150&height=150" alt="" width="152" height="153" />
    </div>
    <div class="photo photo_friend">
      <span class="frame"></span>
        <img src="https://graph.facebook.com/<%= @uid_amigo %>/picture?width=150&height=150" alt="genio" width="152" height="153" />
    </div>
    <a id="sharefb" class="button_go button_position_5" href="#">
      <%=image_tag("fb_app_snickers_redhot/comparte.png", alt: "Comparte")%>
    </a>
    <a id="invitar" class="button_go button_position_6" href="#">
      <%=image_tag("fb_app_snickers_redhot/invitar.png", alt: "Invitar amigos")%>
    </a>

    <a class="button_go button_position_7" href="<%= fb_app_snickers_redhot_concurso_path %>">
      <%=image_tag("fb_app_snickers_redhot/participa_again.png", alt: "Participar denuevo")%>
    </a>
  </center>
</div>