<h1 id="concurso">Brilliance - Concurso</h1>

<p id="error"><%= flash[:error] %></p>
<p id="notice"><%= flash[:notice] %></p>
<%= form_tag(fb_app_paco_rabanne_share_path, :method => "post") do  %>
  <%= text_field_tag(:nombre, @nombre) %>
  <%= text_field_tag(:rut, @rut) %>
  <%= text_field_tag(:correo, @email) %>
  <%= text_field_tag(:telefono, @telefono) %>
  <%= submit_tag("Participa") %>
<% end %>