<script type="text/javascript">
	function check(event) {
      $.ajax({url: 'comunas',type: 'get',data: "type="+event,
        success: function( resp ) {
          $("#comuna").html(resp);
        }
      });
    }
</script>

<%= render :partial => "layouts/validator" %>

<div class="wrapper registro">
	<div class='content'>
		<center>
			<%= form_tag(fb_app_paco_rabanne_share_path,:id=>:registro, :class=>:form,:method => "post") do  %>

				<input value="" id="codigo_boleta" class="name" name="codigo_boleta" type="text" >
				<input value="" id="nombre" class="name" name="nombre" type="text" onkeypress="return validatxt(event)">
				<input value="" id="apellido" class="name" name="apellido" type="text" onkeypress="return validatxt(event)">
				<%= select_tag :region,options_for_select(@regiones),:prompt => "Elige tu región...",:onChange => 'check(this.options[this.selectedIndex].value);'%>
				<select id="comuna" name="comuna">
				</select>
				<input value="" id="direccion" class="name" name="direccion" type="text">
				<select id="day" name="day">
					<option value="">seleccione dia</option>
					<% (1..31).each do |num| %>
						<option value="<%= num %>"><%= num %></option>
					<% end %>
				</select>
				<select id="month" name="month">
					<option value="">seleccione mes</option>
					<option value"01">Enero</option>
					<option value"02">Febrero</option>
					<option value"03">Marzo</option>
					<option value"04">Abril</option>
					<option value"05">Mayo</option>
					<option value"06">Junio</option>
					<option value"07">Julio</option>
					<option value"08">Agosto</option>
					<option value"09">Septiembre</option>
					<option value"10">Ocutubre</option>
					<option value"11">Noviembre</option>
					<option value"12">Diciembre</option>
				</select>
				<select id="year" name="year">
					<option value="">seleccione año</option>
					<% (1950..2013).each do |num| %>
						<option value="<%= num %>"><%= num %></option>
					<% end %>
				</select>
				<input value="" id="email" class="name alert" name="email" type="text">
				<input value="" id="rut" class="name" name="rut" type="text" onkeyup="this.value = formato_rut(this.value, true)" maxlength="10">
				<input value="" id="celular" class="name" name="celular" type="text" onkeypress="return validanum(event)">

				<input value="male" id="male" class="name" name="sexo" type="radio" checked>
				<input value="female" id="female" class="name" name="sexo" type="radio">
			<% end %>
			<a id="btn_enviar" class="button_go button_position_2" href="javascript:void(0);">Enviar</a> 	      
		</center>
	</div>
</div>
<script>
	$(document).ready(function(){
		$(".select_a").click(function() {
			$(".select_a").removeClass("ON");
			$(this).addClass("ON"); 
		});
	});
</script>