<% content_for :body_classes, 'registro' %>
<%= javascript_include_tag "jquery.validate" %>
<script>
/////////// validador Rut ////////////////
  $.validator.addMethod(
    "valrut",
    function(rutvalue) {
      return validarut(rutvalue);
    },
    "Rut incorrecto"
  );

  function validarut(rut){
    if (rut.length<9)
    return(false)

    i1=rut.indexOf("-");
    dv=rut.substr(i1+1);
    dv=dv.toUpperCase();
    nu=rut.substr(0,i1);

    cnt=0;
    suma=0;
    for (i=nu.length-1; i>=0; i--)
    {
    dig=nu.substr(i,1);
    fc=cnt+2;
    suma += parseInt(dig)*fc;
    cnt=(cnt+1) % 6;
    }
    dvok=11-(suma%11);
    if (dvok==11) dvokstr="0";
    if (dvok==10) dvokstr="K";
    if ((dvok!=11) && (dvok!=10)) dvokstr=""+dvok;

    if (dvokstr==dv)
    return(true);
    else
    return(false);
  }

  function formato_rut(texto, activo) { 
  var invertido = ""; 
  var dtexto = ""; 
  var cnt = 0; 
  var i=0; 
  var j=0; 
  var largo = "";     
    if (activo) { 
        texto = formato_rut(texto, false) 
        largo = texto.length; 
        for ( i=(largo-1),j=0; i>=0; i--,j++ ) 
        invertido = invertido + texto.charAt(i);           
        dtexto = dtexto + invertido.charAt(0); 
        dtexto = dtexto + '-';           
        for ( i=1,j=2; i<largo; i++,j++ ) { 
        if ( cnt == 3 ) { 
          dtexto = dtexto + ''; 
          j++; 
          dtexto = dtexto + invertido.charAt(i); 
          cnt = 1; 
        } else {  
          dtexto = dtexto + invertido.charAt(i); 
          cnt++; 
        } 
        } 
        invertido = ""; 
        for ( i=(dtexto.length-1),j=0; i>=0; i--,j++ ) 
        invertido = invertido + dtexto.charAt(i); 
        if (invertido == '-') invertido = "" 
        texto = invertido; 
    } else { 
      var tmpstr = ""; 
      for ( i=0; i < texto.length ; i++ ) 
      if ( texto.charAt(i) != ' ' && texto.charAt(i) != '.' && texto.charAt(i) != '-' ) 
        tmpstr = tmpstr + texto.charAt(i); 
      texto = tmpstr; 
    } 
    return texto;
  }
  //////////////////////////////
  function validanum(e) {
      tecla = (document.all) ? e.keyCode : e.which;
      if (tecla==8) return true;
      patron =/\d/;
      te = String.fromCharCode(tecla);
      return patron.test(te);
  }

    function validatxt(e){
       key = e.keyCode || e.which;
       tecla = String.fromCharCode(key).toLowerCase();
       letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
       especiales = [8,37,39,46];

       tecla_especial = false
       for(var i in especiales){
            if(key == especiales[i]){
                tecla_especial = true;
                break;
            }
        }

        if(letras.indexOf(tecla)==-1 && !tecla_especial){
            return false;
        }
    }

  $(document).ready(function(){
    $("#btn_enviar").click(function(){
      $("#registro").submit();
    });

    $("#registro").validate({
      rules: {
        nombre: {
          required: true
        },
        rut: {
          required: true,
          valrut: $('#rut').val()
        },
        telefono: {
          required: true,
        },
        correo: {
          required: true,
          email: true
        }, 
        region: {
          required: true,
        }, 
        comuna: {
          required: true,
        },
      }
    });

  });
	function check(event) {
      $.ajax({url: 'comunas',type: 'get',data: "type="+event,
        success: function( resp ) {
          $("#comuna").html(resp);
        }
      });
    }
</script>
<div class="content">
    <center>
      <p id="error" style="color:red;font-size:15px;"><%= flash[:error] %></p>
      <p id="notice"><%= flash[:notice] %></p>
      <%= form_tag(fb_app_mahindra_xuv_invitar_path,:id=>:registro, :method => "post") do  %>
        <div class="group"><%= text_field_tag(:nombre, @nombre, :class => 'campos', :onkeypress => "return validatxt(event)") %></div>
        <div class="group"><%= text_field_tag(:rut, @rut, :class => 'campos', :onkeyup => "this.value = formato_rut(this.value, true)", :maxlength => "10") %></div>
        <div class="group"><%= text_field_tag(:correo, @correo, :class => 'campos') %></div>
        <div class="group"><%= text_field_tag(:telefono, @telefono, :class => 'campos', :onkeypress => "return validanum(event)") %></div>
        <div class="group"><%= select_tag :region,options_for_select(@regiones),:prompt => "Elige tu región...",:onChange => 'check(this.options[this.selectedIndex].value);'%></div>
        <div class="group"><%= select_tag :comuna %></div>
        <div class="group"><%= check_box_tag 'recibir_info', 'si' %>Acepto los Términos</div>
      <% end %>
      <a href="#" id="btn_enviar">Continuar</a>
    </center>
</div>