<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $(".invitar1").click(function(){
      FB.ui({ method: 'apprequests',
            message: '<%= @app.invite_message %>',
            filters: ['app_non_users'],
            title: 'Invitación',
      max_recipients: '1'
      },requestCallback);
    });

    $(".invitar2").click(function(){
      FB.ui({ method: 'apprequests',
            message: '<%= @app.invite_message %>',
            filters: ['app_non_users'],
            title: 'Invitación',
      max_recipients: '1'
      },requestCallback2);
    });

    $(".invitar3").click(function(){
      FB.ui({ method: 'apprequests',
        message: '<%= @app.invite_message %>',
        filters: ['app_non_users'],
        title: 'Invitación',
        max_recipients: '1'
      },requestCallback3);
    });

    $("#btn_enviar").click(function(){
      if ($("#uid_amigo1").val() != "" && $("#uid_amigo2").val() != "" && $("#uid_amigo3").val() != "" ) {
        $("#registro").submit();
      }else{
        alert( "faltan campos" );
      }
    });
  });

  function requestCallback(response) {
      $("#uid_amigo1").val(response.to);
      $("#amigo_1").html('<img src="https://graph.facebook.com/'+response.to+'/picture?width=150&height=150" width="152" height="153" />');
  }
  function requestCallback2(response) {
      $("#uid_amigo2").val(response.to);
      $("#amigo_2").html('<img src="https://graph.facebook.com/'+response.to+'/picture?width=150&height=150" width="152" height="153" />');
  }

  function requestCallback3(response) {
      $("#uid_amigo3").val(response.to);
      $("#amigo_3").html('<img src="https://graph.facebook.com/'+response.to+'/picture?width=150&height=150" width="152" height="153" />');
  }
</script>
<div id="nav"></div>
<div class="invitacion">
<ul>
    <li><a href="javascript:void(0);"><img src="https://graph.facebook.com/'+response.to+'/picture?width=150&height=150" width="152" height="153"/></a></li>
    <li><%= link_to "amigo 2", "#", :class => 'invitar1'  %></li>
    <li><%= link_to "amigo 3", "#", :class => 'invitar2'  %></li>
    <li><%= link_to "amigo 3", "#", :class => 'invitar3'  %></li>
</ul>
<%= link_to "", "#", :id => 'btn_enviar', :class => 'continuar'  %>
</div>
  <%= form_tag(fb_app_mahindra_xuv_share_path,:id=>:registro, :method => "post") do  %>
    <div id="amigo_1">
      <%= hidden_field_tag 'uid_amigo1' %>
    </div>
    <div id="amigo_2">
      <%= hidden_field_tag 'uid_amigo2' %>
    </div>
    <div id="amigo_3">
      <%= hidden_field_tag 'uid_amigo3' %>
    </div>
    <%= hidden_field_tag 'recibir_info',@recibir_info %>
  <% end %>
