<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("#fb_app_login").click(function(){
      FB.login(function(response){
        if (response.authResponse){
          location.href = '<%= fb_app_lan_cargo_ar_concurso_path %>';
        }
      },{scope:'<%= @scope %>'});
    });
  });
</script>
<div class="content">
    <div id="header">
        <div class="main_nav">
            <span class="main_logo"></span>
            <ul>
                <li><a href="<%= fb_app_lan_cargo_ar_path %>" class="img_quiz">Quiz Imposible</a></li>
                <li><a href="<%= fb_app_lan_cargo_ar_premios_path %>" target="_blank" class="img_premios">Premios</a></li>
                <li><a href="/documents/fb_app_lan_cargo_ar.pdf" target="_blank" class="img_bases">Bases</a></li>
            </ul>
        </div>
    </div>
    
    <div class="content home">
    	<%= link_to "Embárcate", fb_app_lan_cargo_ar_concurso_path, :id => :fb_app_login, :href => '#',:class => 'btn_embarcate' %>
    </div>
    <div id="footer">
	    <a href="http://www.lancargo.com/es/" target="_blank"><span class="logo_cargo"></span></a>
    </div>
</div>