<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
$(function(){
    $(".bajo, .acordeon, .piano, .guitarra").draggable({ revert: true });
    $(".choice").droppable({ 
             accept: ".bajo, .acordeon, .piano, .guitarra",
             drop: function(event, ui ) {
                 $(".choice").removeClass("bajo");
                 $(".choice").removeClass("acordeon");
                 $(".choice").removeClass("piano");
                 $(".choice").removeClass("guitarra");
                 $(this).addClass( ui.draggable.attr('class') );
                 $("#respuesta").val( ui.draggable.attr('rel') );
                    $("#btn_enviar").fadeIn();
                    $(".confirmar").fadeIn();
                 }
    });

    $("#btn_enviar").click(function(){
        if( $("#respuesta").val() != "" ){
            clearInterval(countdown);
            $("#registro").submit();
        }else{
            $(".alerta_vacio").fadeIn(function(){
                $(this).delay(3000).fadeOut();
            }); 
        }
    });    

     var countdown = setInterval(function() {
        var timeCounter = $("span[class=tiempo_numero]").html();
        var updateTime = eval(timeCounter)- eval(1);
        $("span[class=tiempo_numero]").html(updateTime);

        if(updateTime == 0){
           if($("#respuesta").val() != ""){
             $("span[class=tiempo_numero]").html("--");
             $("#registro").submit();
           }else{
            $("span[class=tiempo_numero]").html("--");
            location.href = '<%= fb_app_lan_cargo_ar_nulas_path %>?sgte_preg=q3';
          }
        }
    }, 1000);
})
</script>
<div class="content">
    <div id="header">
        <div class="main_nav">
            <span class="main_logo"></span>
            <ul>
                <li><a href="<%= fb_app_lan_cargo_ar_path %>" class="img_quiz">Quiz Imposible</a></li>
                <li><a href="<%= fb_app_lan_cargo_ar_premios_path %>" target="_blank" class="img_premios">Premios</a></li>
                <li><a href="/documents/fb_app_lan_cargo_ar.pdf" target="_blank" class="img_bases">Bases</a></li>
            </ul>
        </div>
        <div class="game_nav">
            <div class="pager">2/5</div>
            <div class="question"><%=image_tag("fb_app_lan_cargo_ar/question_4.png")%></div>
            <div class="tiempo">Tiempo<span class="tiempo_numero">20</span></div>
        </div>
    </div>
    
    <div class="content">
        <div class="q4 pregunta">
        
          <div class="answers">
            <%=image_tag("fb_app_lan_cargo_ar/bajo.png",:class => "bajo", :alt => "Question", :rel => "2:i")%>
            <%=image_tag("fb_app_lan_cargo_ar/acordeon.png",:class => "acordeon", :alt => "Question", :rel => "2:i")%>
            <%=image_tag("fb_app_lan_cargo_ar/piano.png",:class => "piano", :alt => "Question", :rel => "2:c")%>
            <%=image_tag("fb_app_lan_cargo_ar/guitarra.png",:class => "guitarra", :alt => "Question", :rel => "2:i")%>
          </div> <!-- / .questions -->
          
          <div class="choices">
            <div id="choice-1" class="choice"></div> <!-- / .choice -->
            <%= form_tag(fb_app_lan_cargo_ar_respuestas_path,:id=>:registro, :method => "post") do  %>
               <%= hidden_field_tag 'respuesta' %>
               <%= hidden_field_tag 'n_preg', 2 %>
            <% end %>
          </div>
            <%=image_tag("fb_app_lan_cargo_ar/debes_responder_mensaje.png", :class => "alerta_vacio", :alt => "Question")%>
            <%= link_to "Continuar", "#", :id => 'btn_enviar' , :class => 'next_question' %>
            <%=image_tag("fb_app_lan_cargo_ar/confirmar.png", :class => "confirmar", :alt => "Question")%>     
        </div>

    </div>
    
    <div id="footer">
        <a href="javascript:void(0);" target="_blank" class="link_natgeo">NatGeoCh</a>
        <a href="javascript:void(0);" target="_blank" class="tw_cargas">#CargasImposibles</a>
        <a href="javascript:void(0);" target="_blank" class="tw_lovi">#LoViEnNatGeo</a>
        <a href="http://www.lancargo.com/es/" target="_blank"><span class="logo_cargo"></span></a>
    </div>
</div>