<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title><%= @app.name %></title>	
  <%= stylesheet_link_tag    "fb_app_mini_parva", :media => "all" %>
  <%= javascript_include_tag "fb_app_mini_parva" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="expires" content="mon, 27 sep 2020 14:30:00 GMT">
</head>
  <center>
    <body topmargin="0">
      <%= render :partial => "layouts/facebook_javascript_sdk", :locals => { :width => '1335', :height => '740' } %>
      <%= render "layouts/ga" %>
      <%= yield %>
    </body>
  </center>
</html>