<!DOCTYPE>
<html>
<head>
  <title><%= @app.name %></title>	
  <%= stylesheet_link_tag    "fb_app_hyundai_mundial", :media => "all" %>
  <%= javascript_include_tag "fb_app_hyundai_mundial" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="expires" content="mon, 27 sep 2020 14:30:00 GMT">
</head>
  <body>
    <%= render :partial => "layouts/facebook_javascript_sdk", :locals => { :width => '810', :height => '655' } %>
    <%= render "layouts/ga" %>
    <script type="text/javascript">
    $(document).ready(function (){
      $('.loading').hide();
      $('.wrapper').fadeIn('fast');

      });
    </script>
    <div class="loading">
      <span class="shadow_grand"></span>
    </div>
    <div class="wrapper"> 
      <% if @header %>
      <ul id="main_nav">
        <li><%= link_to "Inicio",  fb_app_hyundai_mundial_path %></li>
        <li><p>|</p></li>
        <li><a href="/documents/fb_app_hyundai_mundial.pdf" target="_blank">Bases</a></li>
      </ul>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>