<!DOCTYPE>
<html>
<head>
  <title><%= @app.name %></title>	
  <%= stylesheet_link_tag    "fb_app_snickers_redhot", :media => "all" %>
  <%= javascript_include_tag "fb_app_sernatur_capture" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= yield :body_classes %>' screen_capture_injected='true'>
  <div id='fb-root'></div>
  <div id='header'>
  </div>
  <%= render :partial => "layouts/facebook_javascript_sdk", :locals => { :width => '825', :height => '810' } %>
  <%= render "layouts/ga" %>
<%= yield %>
<div id='footer'>
  <a class="bases_legales" href="/documents/Bases__Promocion_RHCHP.pdf" target="_blank">
    <%=image_tag("fb_app_snickers_redhot/bases_legales.png", alt: "Example Image")%>
  </a>
</div>

</body>
</html>