<!DOCTYPE>
<html>
<head>
  <title><%= @app.name %></title>	
  <%= stylesheet_link_tag    "fb_app_mahindra_xuv", :media => "all" %>
  <%= javascript_include_tag "fb_app_mahindra_xuv" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "layouts/facebook_javascript_sdk", :locals => { :width => '810', :height => '720' } %>
  <%= render "layouts/ga" %>
  <div id="contenedor">
    <%= yield %>
    <div id='footer'>
      <a href="/documents/fb_app_mahindra_xuv.pdf" target="_blank">Bases del Concurso</a>
    </div>
  </div>
</body>
</html>