<!DOCTYPE>
<html>
<head>
  <title></title>	
  <%= stylesheet_link_tag    "fb_app_paco_rabanne/style", :media => "screen" %>
  <%= javascript_include_tag "fb_app_paco_rabanne" %>
  <%= javascript_include_tag "jquery.fancybox" %>
  <%= csrf_meta_tags %>
</head>
<body screen_capture_injected='true'>
  <%= render :partial => "layouts/facebook_javascript_sdk", :locals => { :width => '810', :height => '650' } %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); (http://www.google-analytics.com/analytics.js%27,%27ga%27%29;)

    ga('create', 'UA-40156646-2', 'herokuapp.com');
    ga('send', 'pageview');
  </script>
  <div id='header'>
    <div class="fb-like" data-href="https://www.facebook.com/Million?fref=ts" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
  </div>
  <%= yield %>
  <div id='footer'></div>
  </div>
</html>