<!DOCTYPE>
<html>
<head>
  <title><%= @app.name %></title>	
  <%= stylesheet_link_tag    "fb_app_claro_ganate_la_parabolica", :media => "all" %>
  <%= javascript_include_tag "fb_app_claro_ganate_la_parabolica" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="fb-root"></div>
  <script type="text/javascript" charset="utf-8">
    window.fbAsyncInit = function() {
      FB.init({
        appId  : <%= @app_id %>,
        status : true,
        cookie : true, 
        xfbml  : true  
      });
      FB.Canvas.setAutoGrow(true);
    };
    (function(d) {
      var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      d.getElementsByTagName('head')[0].appendChild(js);
    }(document));
  </script>
  <ul id="menu">
    <li><%= link_to "Inicio",  fb_app_claro_ganate_la_parabolica_path %></li>
    <li><%= link_to "Premios", fb_app_claro_ganate_la_parabolica_premios_path %></li>
    <li><%= link_to "Ranking", fb_app_claro_ganate_la_parabolica_ranking_path %></li>
    <li><%= link_to "Bases",   "/documents/fb_app_claro_ganate_la_parabolica_-_bases.pdf", :format => 'pdf', :target => '_blank' %></li>
  </ul>  
<%= yield %>
</body>
</html>
