<div id="menu">
  <ul>
    <li class=<%= 'active' if action_name == "index" %>>
      <%= link_to content_tag(:span, "Inicio"), fb_app_claro_ganate_la_parabolica_path %></li>
    <li class=<%= 'active' if action_name == "premios" %>>
      <%= link_to content_tag(:span, "Premios"), fb_app_claro_ganate_la_parabolica_premios_path %></li>
    <li class=<%= 'active' if action_name == "ranking" %>>
      <%= link_to content_tag(:span, "Ranking"), fb_app_claro_ganate_la_parabolica_ranking_path %></li>
    <li class=<%= 'active' if action_name == "bases" %>>
      <%= link_to content_tag(:span, "Bases"), "/documents/fb_app_claro_ganate_la_parabolica_-_bases.pdf", :format => 'pdf', :target => '_blank' %></li>
    <li class=<%= 'active' if action_name == "laparabolica" %>>
      <%= link_to content_tag(:span, "La Parabólica"), fb_app_claro_ganate_la_parabolica_laparabolica_path %></li>
  </ul>
</div>