<div id="laparabolica">
  <%= render :partial => "layouts/facebook_javascript_sdk_share" %>
  <%= render :partial => "fb_app_claro_ganate_la_parabolica/menu" %>
  <h3 class="para_btn_a"><a href="http://bit.ly/ParabolicaMp3">La Parabólica</a></h3>
  <iframe class="para_video" width="370" height="208" src="http://www.youtube.com/embed/pEEml_-l2Tk?rel=0" frameborder="0" allowfullscreen></iframe>
  <h2 class="para_btn_b"><%= link_to "Compartir", "#", :class => 'compartir sharefb' %></h2>
  <h2 class="para_btn_c"><%= link_to "Invitar", "#", :class => 'invitar' %></h2>
  <h2 class="para_btn_d"><%= link_to "INFORMATE", "http://www.clarochile.cl/tvhd_para_todos", :class => 'invitar', :target => '_target' %></h2>
</div>




